@using ZYShop.Web.Models.Common.Modals
@model ZYShop.Web.Models.ArticleClasses.EditArticleClassModalViewModel
@{
    Layout = null;
}
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditArticleClass")))

<div class="modal-body">
    <form name="ArticleClassEditForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="Id" value="@Model.ArticleClass.Id" />
        <input type="hidden" name="IsStatic" value="@(Model.ArticleClass.IsSystem.ToString())" />
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="articleClassName" @(Model.ArticleClass.IsSystem == 1 ? "disabled":"") type="text" name="Name" value="@Model.ArticleClass.ClassName" required maxlength="32" minlength="2" class="validate form-control">
                        <label for="articleClassName" class="form-label">@L("ClassName")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="displayname" type="text" name="DisplayName" value="@Model.ArticleClass.ClassName" required maxlength="32" minlength="2" class="validate form-control">
                        <label for="displayname" class="form-label">@L("ClassName")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <textarea id="role-description" name="Description" class="validate form-control">@Model.ArticleClass.Description</textarea>
                        <label for="role-description" class="form-label">@L("RoleDescription")</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/ArticleClass/_EditArticleClassModal.js" asp-append-version="true"></script>
